/* ScoreCard.css */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.chakra-modal__content.container {
  background-image: url('/img/wood-texture-background.jpg');
  background-size:auto;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.inner-container {
  background-color: aliceblue;
  border: -10px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px inset rgba(0, 0, 0, 0.4);
}
